body {
    background-color: rgba(227, 224, 224, 0.856); /* Couleur de fond */
    font-style: italic;
    color: rgb(8, 8, 8); /* Couleur du texte */
    width: 100%; /* Largeur de la page */
    height: 100vh; /* Hauteur de la page */
    overflow: hidden; /* Empêcher le défilement */
    margin: 0; /* Supprimer les marges par défaut */
}

.menu4{
    display: flex; /* Utilisation de flexbox */
}

.menu {
    background-color: #171b9c;
    text-align: center;
    position: fixed; /* Position fixe pour le menu */
    width: 99%; /* Largeur du menu */
    padding: 7px; /* Espacement interne */
    border-radius: 11px; /* Coins arrondis */
    overflow-y: auto; /* Ajouter un défilement vertical si nécessaire */
}

.menu a {
    text-decoration: none; /* Supprimer le soulignement des liens */
    transition: 0.5s; /* Transition pour les effets de survol */
    color: rgb(243, 239, 239); /* Couleur du texte des liens */
    margin: 7px; /* Marge entre les liens */
    border-radius: 8px; /* Coins arrondis pour les liens */
    font-size: 18px; /* Taille de la police des liens */
    gap: 20px; /* Espace entre les icônes et le texte */
}


.menu a:hover {
    background-color: rgb(251, 4, 4); /* Couleur de fond au survol */
    padding: 4px;
    color: rgb(248, 248, 252); /* Couleur du texte au survol */
    font-size: 18px; /* Augmenter la taille de la police au survol */
}

.menu a:active{

background-color: red;
cursor: pointer;

}

section{
    color: rgb(5, 4, 4);
    margin: 0px 50px;
}

.tempsreel{
        width: 100%;
        margin-left: 5%;
        padding: 20px; /* Espacement interne */
        overflow-y: auto; /* Ajouter un défilement vertical si nécessaire */
       
    }

#crypto-prices {
    margin-bottom: 20px;
}

#chart-container {
    margin-bottom: 20px;
}

#search-container {
    margin-bottom: 20px;
}

#search-input {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
}

#prices-list, #search-results {
    list-style-type: none;
     padding: 0;
}

@media (max-width:768px){
    .menu{
        width: 97%;
    }
    section ,.tempsreel{
        margin: 0 5px;
    }
    #search-input{
        width: 70%;
    }
}